/* 
    Author: Vijay Thapa;
    Theme: Food Order Website Admin;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
}

.success{
    color: #2ed573;
}
.error{
    color: #ff4757;
    font-size: 30px;
    font-weight: bold;
}


/* CSS for Menu */
.menu{
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}
.menu ul li a:hover{
    color: #ff4757;
}

/* CSS for main-content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
    overflow: auto;
}

.col-4{
    width: 18%;
    background-color: white;
    border: 1px double black;
    border-radius: 5px;
    margin: 1%;
    padding: 2%;
    float: left;
}


/* CSS for Footer */
.footer{
    position: fixed;
    background-color: black;
    color: white;
    bottom: 0px;
    width: 100%;
}


fieldset{
    background-color: black;
    border: 1px solid black;
    margin: 4%;
    padding: 2%;
    border-radius: 5px;
    color: white;
}

.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.food-menu-box{
    width: 80%;
    margin: 1% 8%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 10px;
}

.food-menu-img{
    border: 1px solid black;
    width: 20%;
    float: left;
    border-radius: 15px;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-title {
    color: black;
    margin: 1%;
}

.food-price{
    color: black;
    font-size: 1.2rem;
    margin: 2%;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2%;
}

.qty {
    color: black;
    font-size: 1.2rem;
    margin: 2%;
}

legend {
    font-weight: bold;
}

.close {
    position: absolute;
    color:white;
    font-size: 40px;
    font-weight: bold;
    transform: rotate(45deg);
    top: 0; 
    right: 20px; 
    cursor: pointer;
    text-decoration: none;
}

/* modal */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
}

.modal:target {
    display: flex;
}

.modal-content {
    background-color:black;
    width: 50%;
    height: 500px;
    overflow: auto;
    position: relative;
}
